::ng-deep .ant-modal-content {
  background-color: var(--background);
}

::ng-deep .ant-modal-header {
  background-color: var(--background);
}

::ng-deep .ant-modal-close {
  background-color: var(--background);
}
